.big-text {
  font-size: 5em;
}

.tally-container {
  position: relative; 
  display: inline-block;
  /*border: 10px solid black;*/
}

.strike {
  font-size: 175px;
  /*display: inline-block;*/
  margin-right: 10px;
  width: 2px;
  height: 100px;
  border: 1px black;
}

.strike-fifth {
  position: absolute;
  transform-origin: top left;
  top: 4px;
  left: 315px;
  transform: rotate(60deg) scaleY(1.75);
  font-size: 175px;
}


